<launch>
    <arg name="dev" default="/dev/input/js0"/>
    <node pkg="joy" type="joy_node" name="joy_node" clear_params="true" >
      <param name="dev" value="$(arg dev)" />
      <param name="deadzone" value="0.12" />
    </node>
    <node pkg="lawn_tractor_base" type="teleop.py" name="tractor_teleop" />
</launch>
